# Server Configuration
PORT=5000
DB_NAME=studypilot_ai
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/studypilot_ai

# Auth Service Integration
AUTH_SERVER_URL=http://localhost:3000

# Gemini API Credentials
GEMINI_API_KEY=your_gemini_api_key_here

# Support & Resend Email Credentials
RESEND_API_KEY=re_your_resend_api_key_here
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=support@studypilot.ai
